#container {
    display: flex;
    align-items: center;
    position: relative;
    isolation: isolate;
    &.seleccionado::before {
        content: "";
        width: calc(100% + 8px);
        left: 0;
        position: absolute;
        background-color: #da4443;
        height: 120%;
        z-index: -1;
        border-radius: 5px;
    }
}

#flecha {
    width: 20px;
    padding: 0 10px;
    position: absolute;
}

.tarjeta {
    background-color: #fceab8;
    border-radius: 25px 5px 5px 25px;
    width: 90%;
    font-size: larger;
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 1rem;
    cursor: pointer;
    margin-left: 30px;
    &.seleccionado{
        background-color: #f39545;
        -webkit-box-shadow: inset 0px 0px 7px 4px #fceab8;
        -moz-box-shadow:inset 0px 0px 7px 4px #fceab8;
        box-shadow: inset 0px 0px 7px 4px #fceab8;
    }
}

.circulo {
    border-radius: 50%;
    height: 30px;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.24);
}

img {
    max-width: 40px;
}